.register-form {
  width: 450px;
  height: auto;
  border: 1px solid rgb(202, 202, 202);
  margin: 50px auto;
}
.form {
  height: 100%
}
.form div {
  margin: 23px 22px;
}
.title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  background-color: #337ab7;
  color: #ffffff;
  padding-left: 22px;
}
.sb-btn{
  background-color: #337ab7;
  color: #ffffff;
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 22px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
}
input {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  height: 25px;
  width: 100%;
  font-size: .9em
}
.form input.error {
  border-color: red;
}
input:focus {
  outline: none;
}
.note {
  display: block;
  color: rgba(111, 95, 95, 0.67);
  font-size: 0.7em;
}
.sb-text {
  font-size: 0.7em;
  margin-top: 20px;
}
.sb-text a {
  text-decoration: none;
  color: #337ab7;
}
label {
  display: block;
}
.required-field {
  display: none;
  color: red;
  font-size: 0.7em;
}
.hidden {
  display: none;
}
.form span.required {
  display: block;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.1);
}
.modal-content {
  position: absolute;
  width: 414px;
  height: 490px;
  margin: 0 auto;
  left: 25%;
  right: 25%;
  top: 11%;
  bottom: 25%;
  background: white;
}
.modal button {
  background-color: #337ab7;
  color: #ffffff;
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 10%;
  font-size: .8em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}
.modal-title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  background-color: #337ab7;
  color: #ffffff;
  padding-left: 22px;
  margin-bottom: 40px;
}
.modal-label {
  margin-bottom: 20px;
  margin-left: 10%;
}
.modal-label div {
  display: inline-block;
  padding-bottom: 3px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}
.modal-input-value {
  border-bottom: 1px solid rgb(202, 202, 202);
}